@import "tailwindcss";

html,
body,
#root {
  height: 100vh;
}

.adm-pull-to-refresh-content,
.adm-pull-to-refresh {
  height: 100%;
}

.adm-image-uploader-upload-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* 扫描线动画 */
@keyframes scan {
  0% {
    top: 0;
  }
  50% {
    top: calc(100% - 2px);
  }
  100% {
    top: 0;
  }
}

.animate-scan {
  animation: scan 2s ease-in-out infinite;
}

.adm-toast-icon {
  display: flex;
  justify-content: center;
}
