name: Publish rig-ai-sdk to crates.io

on:
  push:
    branches:
      - main
    paths:
      - "crates/rig-ai-sdk/**"

jobs:
  publish:
    name: Publish crate to crates.io
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: swatinem/rust-cache@v2

      - name: Publish crate
        run: |
          cargo publish -p rig-ai-sdk --token ${{ secrets.CARGO_TOKEN }}
